
    .messages-container {
        text-align: left;
        margin: 20px 0;
    }

  
.alert {
    background-color: #ff6b6b; /* Red background */
    color: #fff; /* White text */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
    .alert-success {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
    }

    .user-profile-title {
        font-size: 24px;
        color: #333;
        text-align: center;
    }

    .user-profile-info {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .user-profile-link {
        display: block;
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
        color: #3498db;
        font-weight: bold;
    }

    .error {
        background-color: #ff6b6b; /* Red background */
        color: #fff; /* White text */
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }