{% extends "base.html" %}


{% block title %} Delete User {% endblock %}


{% block content %}

    {% if messages %}
    <div id="flash-messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}



    <h1>User Profile</h1>
    <p><strong>Username:</strong> {{ request.user.username  }}</p>
    <p><strong>Email:</strong> {{ request.user.email }}</p>
    <p><strong>Phone Number:</strong> {{ request.user.phone_number }}</p>
    <p><strong>Address:</strong> {{ request.user.address }}</p>
    <p><strong>Role:</strong> {{ request.user.role }}</p>



    <a href={% url 'adoption_application_list' %}> Application </a>

{% endblock %}
