{% extends "users/base_staff.html" %}

{%load static%}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/staff_dashboard.css' %}">

{% endblock %}

{% block title %}  Manager Dashboard  {% endblock%}

{% block content %}
{% if messages %}
    <div id="flash-messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
<h1> Staff Dashboard </h1>




    {% endblock %}