<!DOCTYPE html>
<html>
<head>
    <title>Shelter Detail</title>
</head>
<body>
    <h2>user Detail</h2>
    <p> Password: {{ user.password }} </p> 
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
    <p><strong>Address:</strong> {{ user.address }}</p>

    <a href="{% url 'user_update' user.id %}">Edit User</a>
    <a href="{% url 'user_delete' user.id %}">Delete User</a>
</body>
</html>
