{% extends "users/base_user.html" %}

{% block title %} Dashboard {% endblock %}




{% block content %}
{% if messages %}
<div id="flash-messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}


<h1> Dashboard </h1>


<h3> My Application(s) </h3>
<ul>
{% for application in applications  %}

 <li>  <a href="{% url 'public_adoption_application_detail' application_id=application.id %}"> {{ application.pet }} </a> </li> 

{% endfor %}

</ul>


{% endblock %}