{% extends "users/base_user.html" %}

{%load static%}

{% block title %} Dashboard {% endblock %}

{% block links %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/user_dashboard.css' %}">
{% endblock %}

{% block content %}
    

    <h1 class="dashboard-title">Dashboard</h1>
    <div>
        {% if messages %}
        <div id="flash-messages" class="messages-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>

    <h3 class="dashboard-subtitle">My Application(s)</h3>

    <div class="card-container">
        {% for application in applications %}
            <a href="{% url 'public_adoption_application_detail' application_id=application.id %}">  
                <div class="card">
                    <div class="card-header">
                        <a href="{% url 'public_adoption_application_detail' application_id=application.id %}" class="card-link">{{ application.pet }}</a>
                    </div>
                    <div class="card-body">
                        <p><strong>Pet Name:</strong> {{ application.pet }}</p>
                        <p><strong>Status:</strong> {{ application.application_status }}</p>
                        <p><strong>Last Updated:</strong> {{ application.last_updated }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
