{% extends "users/base_staff.html" %}

{%load static%}

{% block title %} Delete User {% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/user_confirm_delete.css' %}">

{% endblock %}

{% block content %}
<div class="delete-user-container">
    <h2 class="page-title">Confirm Deletion</h2>
    <div class="confirmation-text">
        <p>Are you sure you want to delete user "{{ user.username }}"?</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="confirmation-button">Confirm Delete</button>
        <a href="{% url 'user_detail' user.id %}" class="confirmation-button">Cancel</a>
    </form>
</div>
{% endblock %}
