{% extends "base.html" %}

{% load static%}

{% block title %} Login {% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth/login.css' %}">
{% endblock %}


{% block content %}
    {% if messages %}
    <div id="flash-messages" class="messages-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <h2 class="login-title">User Login</h2>
    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="login-button">Login</button>
    </form>

    <p class="register-link">Don't have an account? <a href="{% url 'register' %}" class="register-button">Register</a></p>


    {% endblock %}