<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <p> 
        <h1>  Annie Arkwright's animal adoption organisation </h1>

{% if user.is_authenticated %}

<a href={% url 'profile' %}> Profile  </a>

<a href={% url 'logout' %}> Log Out   </a>

 {% else %} 

 <a href="{% url 'login' %}">login</a>  or <a href="{% url 'register' %}">register</a> 


{% endif %}

    </p>

    {% block content %}


    {% endblock %}
    
</body>
</html>