

{% extends "base.html" %}
{% load static%}


{% block title %}Home {% endblock %}
{% block links %} 
<style> 


</style> 


{% endblock %}



{% block content%}



{% for shelter in shelters %}
<p> {{ shelter }}

{% endfor %}


{% for pet in pets %}
<li><img src="{{ pet.image.url }}" alt="{{ pet.name }}" width=100px /> <a href="{% url 'public_pet_detail' pet.id %}"> {{ pet.name }} </a></li>


{% endfor %}





    <p> Hello, welcome to Annie adoption centre. </p>


     

    <h3> Wanna see pets? <a href="{% url 'public_pets_view' %}"> Pets </a></h3> 
    <h3> we also have shelter check them out <a href="{% url 'shelter_list' %}"> shelter</a></h3>

{% endblock%}