{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<div class="welcome-message">



  <p>Hello, welcome to Annie's adoption centre. Explore our pets and shelters!</p>
  {% if messages %}
  <div id="flash-messages" class="messages-container">
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
      {% endfor %}
  </div>
{% endif %}
</div>


<div>
  {% for pet in pets %}
  <div class="pet-card">
    <img src="{{ pet.image.url }}" alt="{{ pet.name }}" />
    <a href="{% url 'public_pet_detail' pet.id %}">{{ pet.name }}</a>
  </div>
  {% endfor %}
</div>

<div class="welcome-message">
  <h3>Ready to find your new friend?</h3>
  <a class="btn" href="{% url 'public_pets_view' %}">Browse Pets</a>
</div>

{% endblock %}
