{% extends "base.html" %}

{%load static%}

{% block title %} Apply for Adoption - {{ pet.name }} {% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/adoption_application/apply.css' %}">

{% endblock %}

{% block content %}
    {% if messages %}
        <div id="flash-messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="apply-for-adoption-container">
        <h2 class="adoption-title">Apply for Adoption - {{ pet.name }}</h2>

        <h4 class="adoption-subtitle">Feel free to submit any inquiries you may have here</h4>

        <form method="post" class="adoption-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit Application</button>
        </form>
    </div>
</div>

{% endblock %}
