{% extends "users/base_staff.html" %}


{% block title %} Adoption Application List Pet {% endblock %}


{% block content %} 

{% if messages %}
<div id="flash-messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}


  <ul>
  {% for applied in grouped_applications %}

  <li> <a href="{% url 'pet_adoption_applications' pet_id=applied.id %}" >  {{ applied.name }}</a></li>
  {% empty %}
      <li>No adoption applications available.</li> 

  {% endfor %}

  </ul>
{% endblock %}