{% extends "users/base_staff.html" %}

{%load static%}

{% block title %} Approve Application for Adoption {% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/adoption_application/approve_application.css' %}">

{% endblock %}

{% block content %}
<div class="approve-container">
    <h1 class="page-title">{{ action }} Adoption Application</h1>
    {% if messages %}
    <div id="flash-messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post" class="approve-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="approve-button">{{ action }}</button>
    </form>
    <a href="{% url 'adoption_application_list' %}" class="back-link">Back to Applications</a>
</div>
{% endblock %}
