{% extends "users/base_staff.html" %}


{% block title %} Reject Application for Adoption{% endblock %}


{% block content %} 

{% if messages %}
<div id="flash-messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}


<h2>{{ action }} Adoption Application</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">{{ action }}</button>
</form>
<a href="{% url 'adoption_application_list' %}">Back to Applications</a>


{% endblock %}