  /* General Styles */


  h1 {
    color: #333;
    text-align: center;
  }

  /* Pet Styles */
  .pet-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .pet-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .pet-card a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }

  /* Welcome Message Styles */
  .welcome-message {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Buttons */
  .btn {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }

  .btn:hover {
    background-color: #2980b9;
  }

  .messages-container {
    text-align: center;
    margin: 20px 0;
  }

  .alert {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
  }

  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    text-align: center;

  }


  /* Add styles for the slideshow and cards here */

  .slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
  }

  .mySlides {
    display: none;
    animation: fade 2s;
  }

  .card {
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 8px;
  }

  /* Style the dots */
  .dot-container {
    text-align: center;
    padding: 20px;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .active {
    background-color: #717171;
  }

  /* Fade animation */
  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  /* Add this to your 'home.css' or any CSS file you are using */
  .random-words {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .random-words p {
    font-size: 14px;
    background-color: #4CAF50;
    /* Green background color */
    color: white;
    /* White text color */
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Add a shadow for each word */
    transition: transform 0.3s;
    /* Add a smooth hover effect */
  }

  .random-words p:hover {
    transform: scale(1.1);
    /* Enlarge the word on hover */
    background-color: #45a049;
    /* Darker green background color on hover */
  }