{% extends "users/base_staff.html" %}

{%load static%}

{% block title %} Pet Form {% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pets/pet_form.css' %}">

{% block content %}
<div class="pet-form-container">

    <h2 class="page-title">Pet Form</h2>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>

        </form>
    </div>
    <a href="{% url 'pet_list' %}" class="back-link">Back to Pet List</a>

</div>

{% endblock %}
