{% extends "users/base_staff.html" %}

{%load static%}

{% block title %} Delete Pet {% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pets/pet_confirm_delete.css' %}">

{% endblock %}

{% block content %}
<div class="confirmation-container">
    <h2 class="page-title">Confirm Deletion</h2>
    <p class="confirmation-message">Are you sure you want to delete "{{ pet.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="delete-button">Confirm Delete</button>
    </form>
</div>
{% endblock %}
