{% extends "base.html" %}


{% block title %} Pet Detail {% endblock %}


{% block content %}
{% if messages %}
<div id="flash-messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

    <h2>Pet Detail</h2>
    <img src="{{ pet.image.url }}" alt="{{ pet.name }}" />

    <h3>{{ pet.name }}</h3>
    <p>Species: {{ pet.species }}</p>
    <p>Breed: {{ pet.breed }}</p>
    <p> Age: {{ pet.age }}</p> 
    <p> Gender: {{ pet.gender }}</p>
    <p> Description: {{ pet.description }} </p>
    <p> Adoption Status: {{ pet.adoption_status }}</p>
    <p> Suburb: {{ pet.suburb }}  </p>
    <p> State: {{ pet.state }} </p>
    <p> Adoption Fee: {{ pet.adoption_fee }} </p>

    <p> Date Joined: {{ pet.date_added }} </p>

    <a href="{% url 'apply_for_adoption' pet_id=pet.id %}"> Apply </a>

    <a href="{% url 'public_pets_view'  %}"> Back to list  </a>




{% endblock %}