{% extends "base.html" %}

{% load static%}

{% block title %} Pet List {% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pets/public_pet_list.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% if messages %}
            <div id="flash-messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <h2 class="pet-list-title">
            {% if grouped_pets %}
                Pet List
            {% else %}
                Pet List
            {% endif %}
        </h2>
        <ul class="pet-list">
            {% if grouped_pets %}
                {% for group in grouped_pets %}
                    <li>
                        <ul>
                            {% for pet in pets %}
                                {% if pet.species == group.species and pet.breed == group.breed %}
                                    {% if pet.adoption_fee == form.cleaned_data.adoption_fee|default:pet.adoption_fee %}
                                        {% if pet.suburb == form.cleaned_data.suburb|default:pet.suburb %}
                                            {% if pet.state == form.cleaned_data.state|default:pet.state %}
                                                <li>
                                                    <img src="{{ pet.image.url }}" alt="{{ pet.name }}" class="pet-image" />
                                                    <a href="{% url 'public_pet_detail' pet.id %}" class="pet-link">{{ pet.name }}</a>
                                                    <p> Suburb: {{ pet.suburb }}, State: {{ pet.state }} </p>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% empty %}
                    <li>No pets found.</li>
                {% endfor %}
            {% else %}
                {% for pet in pets %}
                    <li class="pet-item">
                        <img src="{{ pet.image.url }}" alt="{{ pet.name }}" class="pet-image" />
                        <a href="{% url 'public_pet_detail' pet.id %}" class="pet-link">{{ pet.name }}</a>
                        Suburb: {{ pet.suburb }}, State: {{ pet.state }}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <div class="container">
            <form method="GET">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        
            </div>
    </div>
   
    
{% endblock %}
